<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title></title>
<link href="/css/style.css" rel="stylesheet">
</head>
<body>
{#- include "header.njk" #}
{{ content | safe }}
<script></script>
</body>
</html>
